################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FactorCalculator/.vs/FactorCalculator/v16/Browse.VC.opendb
